/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
   --header-height: 3rem;

   /*===== Colors =====*/
   --first-color: #3E0E12;
   --first-color-dark: #2F0A0D;
   --text-color: #524748;
   --first-color-light: #7B6F71;
   --first-color-lighten: #FBF9F9;

   /*===== Font and typography =====*/
   --body-font: 'Poppins', sans-serif;
   --biggest-font-size: 2.5rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1.125rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;
   --smaller-font-size: .75rem;

   /*===== Font weight =====*/
   --font-medium: 500;
   --font-semi-bold: 600;
   --font-bold: 700;

   /*===== Font icon =====*/
   --smaller-icon-size: .5rem;
   --small-icon-size: .5rem;
   --normal-icon-size: 1rem;
   --medium-icon-size: 1.5rem;
   --large-icon-size:2rem;
   --big-icon-size: 3rem;

   /*===== Margenes =====*/
   --mb-1: .5rem;
   --mb-2: 1rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-5: 2.5rem;
   --mb-6: 3rem;

   /*===== z index =====*/
   --z-normal: 1;
   --z-tooltip: 10;
   --z-fixed: 1000000;
}

@media screen and (min-width: 768px) {
   :root {
      --biggest-font-size: 4.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
   }
}

/*===== BASE =====*/
*, ::before, ::after{
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

body {
   margin: var(--header-height) 0 0 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   font-weight: var(--font-medium);
   background-color: var(--first-color-lighten);
   color: var(--text-color);
   line-height: 1.6;
   height: 1000vh;
}

h1,
h2,
h3,
ul,
p {
   margin: 0;
}

h2,
h3 {
   font-weight: var(--font-semi-bold);
}

ul {
   padding: 0;
   list-style: none;
}
on
a {
   text-decoration: none;
}

img{
   width: 100%;
   height: auto;
   display: block;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #FFF;
   opacity: .7; /* Firefox */
 }


/*===== CLASS CSS =====*/
.section{
   padding: 4rem 0 4rem;
}
.section-title, .section-subtitle{
   text-align: center;
}
.section-title{
   font-size: var(--h1-font-size);
   color: var(--first-color);
   margin-bottom: var(--mb-1);
}
.section-subtitle{
   font-size: var(--small-font-size);
   font-weight: var(--font-semi-bold);
   display: block;
   margin-bottom: var(--mb-5);
}
/*===== LAYOUT =====*/
.tv-container{
   max-width: 1024px;
   width: calc(100% - 2rem);
   margin-left: var(--mb-2);
   margin-right: var(--mb-2);
}
.tv-grid{
   display: grid;
   gap: 1.5rem;
}
.l-header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: var(--z-fixed);
   background-color: #0b0a10;
}
/*===== NAV =====*/
.nav{
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem 0;
}
@media screen and (max-width: 768px){
   .nav__menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: #0b0a10;
      border-radius: 0 0 1rem 1rem;
      padding-top: 1.5rem;
      transition: .5s;
   }
}     

.nav__item{
   margin-bottom: var(--mb-3);
}

.nav__link{
   color: var(--first-color-lighten);
   transition: .3s;
}
.nav__link:hover{
   color: var(--first-color-light);
}

.nav__logo img{
   width: 124px;
   height: 42px;
}

.nav__logo{
   color: var(--first-color-lighten);
}

.nav__control__wrapper{
   grid-template-columns: 0.5fr .5fr 3fr;
   align-items: center;
}

.px-2{
   color: var(--first-color-lighten);
}

.nav__search__wapper{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   
}

.nav__search__wapper i{
   display: inline-block;
   color: var(--first-color-lighten);
   font-size: 1.5rem;
}

.search-box{
   background-color: #000;
   outline: none;
   border: none;
   color: var(--first-color-lighten);
   width: 100%;
   height: 100%;
   font-size: 1rem;
}

/* Active menu */

/* Change background header */

/*===== SCROLL TOP =====*/
.scrolltop{
   position: fixed;
   right: 1rem;
   bottom: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .5rem;
   background-color: rgba(123, 111, 113, .7);
   border-radius: .5rem;
   z-index: var(--z-tooltip);
   transition: .4s;

}
.scrolltop:hover{
   background-color: var(--first-color);
}
.scrolltop__icon{
   font-size: var(--large-icon-size);
   color: var(--first-color-lighten)
}
/* >>>>>> MAIN >>>>>>>>>>>>>>>> */



/* <!--===== Notes App in JavaScript   =====--> */
.note-container{
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   margin-top: calc(var(--header-height) + 3rem);
   border-radius: 10px;
   border: 1px solid #a977fa;
   box-shadow: 0px 0px 4px #a977fa;
   /* color: #fff; */
}

.note-wrapper{
   width: 95%;
   /* height: 700px; */
   border-radius: 10px;
   background-color: #a977fa;
   padding: 1rem;
   display: grid;
   gap: 15px;
   grid-template-columns: repeat(auto-fill, 265px);
}

.note-wrapper .add-box,.note-wrapper .note {
   list-style:none;
   height: 100%;
   min-height: 300px;
   max-height: 350px;
   border-radius: 5px;
   background-color: #fff;
   padding: 15px 20px 20px;
   overflow: hidden;
}

.note-wrapper .note{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.note-wrapper .add-box, .add-box .icon, .bottom-content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}
.note-wrapper .add-box{
   cursor: pointer;
}

.add-box .icon{
   height: 78px;
   width: 78px;
   color: #a977fa;
   border-radius: 50%;
   border: 2px dashed #a977fa;
   font-size: 40px;
}
.add-box p{
   color: #a977fa;
   font-weight: 500;
   margin-top: 20px;
}

.note p{
   font-size: 22px;
   font-weight: 900;
}

.note span{
   display: block;
   margin-top: 5px;
   color: #575757;
   font-size: 1rem;
   max-height: 165px;
   overflow: auto;
}

.note .bottom-content{
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid #ccc;
   padding-top: 10px;
}

.bottom-content span{
   color: #6d6d6d;
   font-size: 1rem;
   margin:0
}

.bottom-content .settings{
   color: #6d6d6d;
   font-size: 1.5rem;
   cursor: pointer;
   position: relative;

}

.settings .menu{
   position: absolute;
   bottom: 0;
   right: -5px;
   background: #fff;
   border-radius: 4px;
   transform: scale(0);
   transform-origin: bottom right;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
   transition: transform .2s ease;
   
}
.settings.show .menu{
   transform: scale(1);
}
.settings .menu li{
   height: 25px;
   border-radius: 0;
   cursor: pointer;
   font-size: 1rem;
   border-radius: 0;
   padding: 17px 15px;
   margin: 5px 0;
   justify-content: flex-start;
   align-items: center;
   display: flex;
}
.menu li:hover{
   background-color: #f5f5f5;
}
.menu li i{
   padding-right: 8px;
}

.popup-box{
   position: fixed;
   top: var(--header-height);
   left: 0;
   background-color: rgba(0, 0, 0, 0.3);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.hide-popup-box{
   display: none;
}
.show-popup-box{
   display: flex;
}

.popup-box .popup{
   background-color: #fff;
   padding: 20px 25px;
   width: 400px;
   min-height: 400px;
   border-radius: 10px;
   overflow: hidden;
}

.popup-box , .popup-box .popup{
   opacity: 0;
   pointer-events: none;
   transition: all .25s ease-in;
}

.popup-box.show-popup-box , .popup-box.show-popup-box .popup{
   opacity: 1;
   pointer-events: auto;
}

.popup .content{
   color: #000;
}
.content .note__header{
   color: #000;
   font-weight: 500;
   font-size: 1.2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 1rem;
   margin-bottom: 1rem;
   position: relative;
}

.note__header::before{
   position: absolute;
   content: '';
   bottom: 0;
   left: -50%;
   width: calc(175%);
   height: 1px;
   background-color: #ccc;
   box-shadow: 0 0 2px #ccc;
}
.note__header i{
   font-size: 2rem;
   cursor: pointer;
   color: #ccc;
}

.content form{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
   flex: 1;
   width: 100%;
   gap: 1.2rem;
}
.content .row{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   color: #000;
   font-size: 1rem;
   gap: .2rem;
}
.row :where(input, textarea){
   width: 100%;
   height: 45px;
   border: 1px solid #ccc;
   padding: 10px;
   border-radius: 5px;
   outline: none;
   font-size:18px;
   
   transition: .3s;
}
.row :where(input, textarea):focus{
   box-shadow: 0 2px 3px #ccc;
}

.content .description textarea{
   height: 200px;
   resize: none;
   width: 100%;
   font-weight: 500;
}

.content button{
   /* height: 60px; */
   padding: 15px;
   outline: none;
   background-color: #a977fa;
   border-radius: 5px;
   border: none;
   display: block;
   width: 100%;
   font-size: 1rem;
   font-weight: 500;
   color: #fff;
   cursor: pointer;
}
/* <!--===== Resize and Compress Images   =====--> */
.drawing{
   /* background-color: #4A98F7; */
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   margin-top: calc(var(--header-height) + 3rem);
   border-radius: 10px;
   border: 1px solid #4A98F7;
   box-shadow: 2px 2px 10px #4A98F7;
   /* color: #fff; */
}


.drawing-container{
   width: 95%;
   height: 700px;
   padding: 30px;
   background-color: #4A98F7;
   border-radius: 10px;
   color: #5A6168;
   display: flex;
   /* flex-direction: row;
   align-items: center;
   justify-content: flex-start; */
   gap: 1.2rem
}

.drawing__tools-board{
   width: 25%;
   height: 100%;
   /* margin-right: 1rem; */
   background-color: #fff;
   border-radius: 10px;
   padding: 1.2rem;
   color: #5A6168;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.drawing-row label{
   font-size: 1rem;
   margin-bottom: 1rem;
}
.options{
   margin-left: .5rem;
}

.option{
   display: flex;
   flex-direction: row;
   gap: 1rem;
   align-items: center;
   margin: 5px 0;
}
.option label{
   margin: 0;
}
.option img{
   width: 15px;
   height: 15px;
   display: inline-block;
}
/* .option span{
   color: #5A6168;
   font-size: .8rem;
} */
.option #size-slider{
   width: 100%;
   height: 5px;
   margin-top: 10px;
}
.option :where(span,label){
   color: #5A6168;
   cursor: pointer;
   /* padding-left: 10px; */
}
.option:is(:hover, .active) :where(span, label){
   color: #0199fe;
}
.option input{
   margin: 0;
}

.drawing-row:last-child{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   gap: .5rem;
}
.colors .options{
   display: flex;
   justify-content: space-between;  
   margin-top: 5px;
   margin-left: 0;
   gap: 3px;
   display: flex;
   flex-wrap: wrap;
}

.colors .option{
   height: 20px;
   width: 20px;
   background: red;
   border-radius: 50%;
   position: relative;
   
}
.colors .option #color-picker{
   opacity: 0;
   cursor: pointer;

}
.colors .option:nth-child(1){
   background-color: #fff;
   border: 1px solid #5A6168;
}

.colors .option:nth-child(2){
   background-color: #000;
}

.colors .option:nth-child(3){
   background-color: #E02020;
}

.colors .option:nth-child(4){
   background-color: #6DD400;
}

.colors .option:nth-child(5){
   background-color: #4A98F7;
}

.colors .option.selected::before{
   position: absolute;
   content: "";
   left: 50%;
   top: 50%;
   height: 12px;
   width: 12px;
   background: inherit;
   border-radius: inherit;
   border: 2px solid #fff;
   transform: translate(-50%, -50%) ;
   cursor: pointer;
}


.colors .option:first-child.selected::before{
   border-color: #ccc;
}

.drawing-row button{
   padding: 15px;
   border: 1px solid #5A6168;
   outline: none;
   background-color: #fff;
   border-radius: 5px;
   display: block;
   width: 100%;
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
   font-size: 1rem;
   font-weight: 500;
   color: #5A6168;
   transition: .5s;
   cursor: pointer;
}

.drawing-row .clear-canvas:hover{
   background-color: #5A6168;
   color: #fff;
}
.drawing-row .save-img{
   background-color: #4A98F7;
   color: #fff;
  
}
.drawing-row .save-img:hover{
   background-color: #0e77f7;
}

.drawing__drawing-board{
   background-color: #fff;
   flex: 1;
   border-radius: 10px;
}

.drawing__drawing-board canvas {
   width: 100%;
   height: 100%;
}
/* <!--===== Resize and Compress Images   =====--> */
.resizing{
   background-color: #927DFC;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   margin-top: calc(var(--header-height) + 3rem);
   border-radius: 10px;
   color: #fff;
}
.resizing h2,.resizing span{
   color: #fff;
}
.resizing-wrapper{
   width: 450px;
   padding: 30px;
   background-color: #fff;
   border-radius: 10px;
   color: #000;
}

.resizing__upload-box{
   height: 225px;
   /* width: 100%; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border : 1px dashed #000;
   cursor: pointer;  
   border-radius: 10px;
}

.resizing__upload-box img{
   width: 45px;
   height: 45px;
   object-fit: cover;
   border-radius: 5px;
}
.resizing__upload-box p{
   color: #000;
   margin-top: .5rem;
}
.resizing-wrapper.active .resizing__upload-box{
   border: none;
}
.resizing-wrapper.active .resizing__upload-box p{
   display: none;
}

.resizing-wrapper.active .resizing__upload-box img{
   width: 100%;
   height: 100%;
   /* align-self: flex-start; */
   object-fit: cover;
   border-radius: 5px;
}


.resizing__content{
   width: 100%;
}

.resizing-row{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: .5rem;
   row-gap: 1rem;
   margin: 1rem 0;
}

.resizing-col{
   width: 100%;
}
.resizing-col label{
   font-size: 1rem;
}
.resizing-sizes input{
   width: 100%;
   height: 2.5rem;
   border-radius: 5px;
   outline: none;
   background: none;
   border: 1px solid #b5b5b5;
   padding: .5rem;
   font-weight: 400;
   font-size: 1rem;
   margin-top: .5rem;
}

.resizing-checkboxes input{
   height: 1rem;
   width: 1rem;
   margin: 0;
   cursor: pointer;
   margin-right: 5px;
}
.resizing__content .download-btn{
   width: 100%;
   border: none;
   outline: none;
   padding: 1rem;
   border-radius: 10px;
   margin: .5rem 0;
   background-color: #927DFC;
   color: #fff;
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;
   opacity: .8;
   transition: .3s;
   text-transform: uppercase;
}
.resizing__content .download-btn:hover{
   opacity: 1;
}
/* <!--===== Word Guessing Game  =====-->*/

.guessing{
   background-color: #1BB295;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   margin-top: calc(var(--header-height) + 3rem);
   border-radius: 10px;
}

.guessing-container{
   /* display: flex;
   flex-direction: column;
   justify-content: center; */
   /* align-items: center; */
   width: 430px;
   height: 410px;
   background-color: #fff;
   border-radius: 10px;
   /* color: #fff; */
}

.guessing-container h1{
   font-size: 25px;
   font-weight: 600;
   padding : 20px 25px;
   border-bottom: 1px solid #ccc;
}
.guessing-container .guessing__content{
   margin: 25px 25px 35px;
}

.guessing-container .guessing__inputs{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.guessing__inputs input{
   width: 56px;
   height: 57px;
   margin: 4px;
   background: none;
   border: 1px solid #b5b5b5;
   border-radius: 5px;
   font-weight: 600;
   font-size: 1.2rem;
   color: #1BB295;
   text-align: center;
}

.guessing__inputs input:first-child{
   margin-left: 0px;
}
.guessing__details{
   margin: 20px 0 25px;
}
.guessing__details p{
   margin-bottom: 10px;
   font-size: 1rem;
}
.guessing__btn-reset{
   width: 100%;
   outline: none;
   border-style: none;
   padding: 15px 0;
   background-color: #1BB295;
   color: #fff;
   cursor: pointer;
}


/* 
.guessing{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #1BB295;
   margin-top: calc(var(--header-height) + 3rem);
   border-radius: 10px;
}

.guessing-container{
   width: 430px;
   height: 410px;
   background-color: #fff;
   border-radius: 10px;
   color: #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 16px;
   overflow: hidden;
}

.guessing-header{
   position: relative;
   height: 76px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   font-size: 1.3rem;

}

.guessing-header::before{
   position: absolute;
   content: '';
   bottom: 0;
   left: -20px;
   height: 1px;
   width: 500px;
   background-color: rgb(201, 193, 193);
}
.guessing__cell-box{
   display: flex;
   padding: 10px;
   width: 100%;
}

.guessing__cell-list{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.guessing__cell-item{
   text-align: center;
   height: 55px;
   width: 55px;
   border: 1px solid rgb(201, 193, 193);
   border-radius: 3px;
   margin: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #1BB295;
   font-weight: 900;
}  

.guessing-modifer{
   display: flex;
   width: 100%;
   height: 150px;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
   font-size: 1rem;
   font-weight: 100;
}

.guessing-reset-btn{
   width: 100%;
   border-style: none;
   background-color: #1BB295;
   color: #fff;
   height: 55px;
   font-size: 1rem;
   border-radius: 5px;
   cursor: pointer;
   opacity: .9;
   margin: 20px 0;
}
.guessing-reset-btn:hover{
   opacity: 1;
} */
/* <!--===== Generator UI CSS  =====-->*/
.generator{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #4285F4;
   margin-top: calc(var(--header-height) + 3rem);
   border-radius: 10px;
   
}
.generator-container{
   width: 450px;
   min-height: 50vh;
   /* height: 450px; */
   background: #fff;
   border-radius: 8px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
   padding: .5rem 0;
}
.generator__title {
   color: var(--text-color);
   font-weight: 600;
   font-size: 1.2rem;
   padding: .5rem 2rem;
   border-bottom: 1px solid rgba(0, 0, 0, 0.25);
   width: 100%;
}
.generator__wrapper{
   padding: .5rem 2rem;
   align-items: center;
   flex-direction: column;
   display: flex;
}
.generator__input__box{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px;
   height: 45px;
   width: 100%;
   border: 1px rgba(0, 0, 0, 0.5) solid ;
   padding: 1rem .25rem;
   margin-top: 1rem;
}
.generator__input__box input{
   font-size: 1rem;
   color: #000;
   cursor: pointer;
   border-style: none;
   font-weight: 500;
   letter-spacing: 1.4px;
   pointer-events: none;
   width: 100%;
}
.generator__input__box i{
   font-size: 1.4rem;
}
.generator__input__box i:hover{
   color: #01b2fe;
   cursor: pointer;
   
}
.generator__indicator{
   position: relative;
   width: 100%;
   height: 4px;
   background: #DFDFDF;
   margin: .5rem 0 1rem;
   border-radius: 25px;
}
.generator__indicator::before{
   position: absolute;
   content: '';
   height: 100%;
   width: 50%;
   border-radius: inherit;
   transition: width .3s ease;
}

.generator__indicator#weak::before{
   width: 20%;
   background: #e64a4a;
}
.generator__indicator#medium::before{
   width: 50%;
   background: #f1c80b;
}
.generator__indicator#strong::before{
   width: 100%;
   background: #4285f4;
}
.generator__pass__length{
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}
/* .generator grid r__pass-length{
   width: 100%;
   height: 5px;
   margin-bottom: 1.5rem;
} */
.generator__pass__setting{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.generator__pass__title{
   margin-bottom: 2rem 1.5rem;
   align-self: flex-start;
}
/* .generator__pass__options{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 2rem;
   row-gap: 1rem;
   width: 100%;
   margin-bottom: 1.5rem;
 }
  */
 .generator__pass__options{
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin-top: 1rem;
 }
.option__item{
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
   width: calc(100%/2);
}
.option__item input{
   cursor: pointer;
   height: 1rem;
   width: 1rem;
}
.option__item:first-child{
   pointer-events: none;
}
.option__item:first-child input{
   opacity: .7;
}
.option__item label{
   cursor: pointer;
   padding-left: .5rem;
}
.generate__btn{
   border: none;
   outline-style: none;
   height: 2.5rem;
   width: 100%;
   background-color: #0199fe;
   color: #fff;
   border-radius: 5px;
   padding: 2rem 0;
   margin: 2rem 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   letter-spacing: .1rem;
   cursor: pointer;
   text-transform: uppercase;
}
.generate__btn:hover{
   background: #0062ffa6;
}

/*===== CARD PERSPECTIVE =====*/
.perspective{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.image-card{
   display: inline-block;
   box-sizing: border-box;
   margin: 1rem;
   width: 240px;
   height: 320px;
   padding: 8px;
   background: url("https://picsum.photos/id/1049/240/320");
   border-radius: 1rem;
   box-shadow: 0 25px 50px -12px  rgba(0, 0, 0, 0.25);
}
.perspective-left{
   transform: perspective(1500px) rotateY(30deg) ;
   transition: transform 1s ease 0s;
}
.perspective-left:hover{
   transform: perspective(3000px) rotateY(15deg) ;
}
.perspective-right{
   transform: perspective(1500px) rotateY(-30deg) ;
   transition: 1s ease 0s;
}
.perspective-right:hover{
   transform: perspective(3000px) rotateY(-15deg) ;
}
/*===== SEARCH Search Bar  =====*/
.search{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 3rem;
}

.search-container{
   position: relative;
   width: 60px;
   height: 60px;
   border-radius: 60px;
   background: var(--first-color-dark);
   box-shadow: 0 0 0 5px #fff;
   transition: .5s;
   overflow: hidden;
}

.search-container.active{
   width: 360px;
}

.search-container .search__icon{
   position: absolute;
   top: 0;
   left: 0;
   width: 60px;
   height: 60px;
   background: var(--first-color-dark);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 60px;
   z-index: 1000;
   cursor: pointer;
}

.search-container .search__icon::before{
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   border: 2.5px solid #fff;
   border-radius: 50%;
   transform: translate(-4px, -4px);
}
.search-container .search__icon::after{
   content: '';
   position: absolute;
   width: 2.5px;
   height: 12px;
   background:  #fff;
   transform: translate(5px, 5px) rotate(315deg);
}

.search-container .search__input{
   position: relative;
   width: 250px;
   height: 60px;
   left: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.search-container .search__input input{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border: none;
   outline: none;
   font-size: 18px;
   padding: 10px 0;
   background-color: var(--first-color-dark);
   color: #fff;
   
}
.search__clear{
   position: absolute;
   top: 50%;
   right: 15px;
   transform: translateY(-50%);
   width: 17px;
   height: 17px;
   cursor:pointer;
   display:flex;
   justify-content: center;
   align-items: center;
}
.search__clear::before{
   position: absolute;
   content: '';
   width: 1px;
   height: 17px;
   background: var(--first-color-light);
   transform: rotate(45deg);
}
.search__clear::after{
   position: absolute;
   content: '';
   width: 1px;
   height: 17px;
   background: var(--first-color-light);
   transform: rotate(315deg);
}

/*===== FIND Text =====*/
.find{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.find-container{
   position: relative;
   width: 60px;
   height: 60px;
   background-color: var(--first-color);
   border-radius: 60px;
   transition: .5s;
   overflow: hidden;
}
.find-container.active{
   width: 360px;
}

.find-container .find-icon{
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   background-color: var(--first-color);
   border-radius: 50%;
   cursor: pointer;
   z-index: 1000;
}

.find-icon::before{
   position:absolute;
   content: '';
   width: 17px;
   height:17px;
   border-radius: 50%;
   border: 2.5px solid #fff;
   transform: translate(-4px, -4px);
}

.find-icon::after{
   position:absolute;
   content: '';
   width: 2.5px;
   height:15px;
   background-color: #fff;
   transform: translate(6px, 6px) rotate(-45deg);
}

.find-container .find-input{
   position: relative;
   width: 250px;
   height: 60px;
   left: 60px;
}

.find-input input{
   width: 250px;
   height: 60px;
   background: var(--first-color) ;
   border: none;
   outline: none;
   font-size:18px;
   color: #fff;
}

.find-clear{
   position: absolute;
   top: 50%;
   right: 15px;
   transform: translateY(-50%);
   width: 17px;
   height: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.find-clear::before{
   position: absolute;
   content: '';
   width: 1px;
   height: 15px;
   background-color: #b9adad;
   transform: rotate(45deg);
}

.find-clear::after{
   position: absolute;
   content: '';
   width: 1px;
   height: 15px;
   background-color: #b9adad;
   transform: rotate(-45deg);
}

/*===== Circular Navigation =====*/
.circular {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(45deg, #8460ed, #ff1252);
   color: #fff;
   border-radius: 5px;
}

.circular i{
   font-size: 1.5rem;
}

.circular .circular__menu {
   position: relative;
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
}

.circular__menu li{
   position: absolute;
   left: 0;
   list-style: none;
   transform-origin: 100px;
   transition: .3s;
   transition-delay: calc(.1s * var(--i));
   transform: rotate(0deg) translateX(80px);
}

.circular__menu li a{
   width: 40px;
   height: 40px;
   background:#fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transform: rotate(calc(360deg / 8 * var(--i)));
   /* xoay icon theo goc */
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
   color: #111;
}

.circular__menu li a:hover{
   color: #ff1252;
}

.circular__menu.active li{
   transform: rotate(calc(360deg / 8 * var(--i)));
}

.circular__toggle{
   position: absolute;
   width: 60px;
   height: 60px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
   border-radius: 50%;
   cursor: pointer;
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
   transition: transform .5s;
}

.circular__toggle .add{
   color: #000;
   font-size: 2rem;
}

.circular__menu.active .circular__toggle{
   transform: rotate(315deg);
}

/*===== Progress Bar  =====*/
.progress{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   background-color: #6ED997;
   margin-top: 3rem;
   border-radius: 10px;
}
.progress-subtitle{
   color: var(--first-color);
}
.progress-bar{
   position: relative;
   width: 500px;
   height: 3em;
   background-color: #111;
   border-radius: 1.5em;
   color: white;
   overflow: hidden;
   
}
.progress-bar::before{
   content: attr(data-label);
   display: flex;
   align-items: center;
   position: absolute;
   left: .5em;
   top: .5em;
   bottom: .5em;
   max-width: calc(max(100%, 100% - 1em));
   width: calc(var(--width, 0)*1% - 1em);
   /* 1em = .5em + .5em cua left va right */
   min-width: 2rem;
   background-color: rgb(5, 167, 248);
   border-radius: 1em;
   padding: 1em;
}  

/*===== mouse move  =====*/
.gradient__container{
   margin-top: var(--mb-4);
   display: flex;
   justify-content: center;
   align-items: center;
}

.mouse-cursor-gradient-tracking{
   position: relative;
   background: #7983ff;
   padding: 0.5rem 1rem;
   font-size: 1.2rem;
   border: none;
   outline: none;
   overflow: hidden;
   cursor: pointer;
   border-radius: .5rem;
}

.mouse-cursor-gradient-tracking span{
   position: relative;
}

.mouse-cursor-gradient-tracking::before{
   --size: 0;
   content: '';   
   position: absolute;
   left: var(--x);
   top: var(--y);
   width: var(--size);
   height: var(--size);
   background: radial-gradient(circle closest-side, pink, transparent);
   transform: translate(-50%, -50%);
   /* luon luon vao vi tri chinh giua cua control */
   transition: width .2s ease, height .2s ease;
}
.mouse-cursor-gradient-tracking:hover::before{
   --size:200px
}

/*===== glass card  =====*/
.glass__card-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 500px;
}
.glass__card{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 500px;
}

.glass__card span{
   position: absolute;
   width: 250px;
   height: 250px;
   background: #000;
   border-radius: 50%;
   transform-origin: 250px 50%;
   /* giá trị 0 để cho các thành phần không di chuyển tâm quay giá trị y */
   transform:translateX(-125px) rotate(calc(90deg * var(--i)));
   filter: blur(80px);
   opacity: 1;
}

.glass__card .glass{
   position: absolute;
   width: 450px;
   height: 300px;
   background: rgba(255, 255, 255, 0.5);
   border-radius: 20px;
   border: 1px solid #fff;
   overflow: hidden;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   color: #000;
}
.glass__card .glass h2{
   padding: 20px;
   font-weight: 400;
   width: 100%;
   background: rgba(255, 255, 255, 0.2);
   color: #000;
   text-align: end;
}
.glass__card .glass h2 i{
   font-weight: 300;
   font-size: 2rem;
}
.glass__card .glass::before{
   content: '';
   position: absolute;
   top: 0;
   left: -50%;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.2);
   pointer-events: none;
   transform: skewX(345deg);
}

.glass__card span:nth-child(1){
   background: #01b2fe;
}
.glass__card span:nth-child(2){
   background: #ff008c;
}
.glass__card span:nth-child(3){
   background: #ffcd00;
}
.glass__card span:nth-child(4){
   background: #00c456;
}

/* <!--===== Pagination UI CSS  =====-->*/
.pagination{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #02b2aa;
   border-radius: 10px;

}
.pagination-container ul{
   display: flex;
   background: #fff;
   padding: 8px;
   border-radius: 50px;
}
.pagination-container ul li{
   color: #02b2aa;
   text-align: center;
   line-height: 45px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   transition: all .3s ease;
}
.pagination-container ul li.numb{
   height: 45px;
   width: 45px;
   border-radius: 50%;
   margin: 0 3px;
}
.paging__btn{
   width: 80px;
   /* background: #02b2aa; */
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.pagination-container ul li.prev{
   border-radius: 25px 5px 5px 25px ;
}

.pagination-container ul li.next{
   border-radius: 5px 25px 25px 5px ;
}

.pagination-container ul li i{
   font-size: 1.5rem;
}
.pagination-container ul li.active,
.pagination-container ul li.numb:hover,
.pagination-container ul li.paging__btn:hover
{
   background: #02b2aa;
   color: #fff;
}


/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 1024px){
   .tv-container{
      margin-left: auto;
      margin-right: auto;
   }
}
